main {
  display: flex;
  margin-top: 0.5in;
  margin-bottom: 0.5in;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  main {
    margin-top: 1in;
    margin-bottom: 1in;
  }
}
